<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cynara.cwechat.entitiy.mapper.CwechatAccessMapper">
<cache/>
	<resultMap type="CwechatAccess" id="baseResultMap">
		<id property="id" column="id"  />
		<result property="appid" column="appid" />
		<result property="secret" column="secret" />
		<result property="encodingAESKey" column="encodingAESKey"/>
		<result property="accessDate" column="accessDate" />
		<result property="isTrue" column="isTrue" />
		<result property="userId" column="userId"/>
	</resultMap>
	<insert id="insert" parameterType="CwechatAccess">
		INSERT INTO c_cwechat_access(id,appid,secret,encodingAESKey,accessDate,isTrue,userId) VALUES (#{id},#{appid},#{secret},#{encodingAESKey},#{accessDate},#{isTrue},#{userId})
	</insert>
	<delete id="delete" parameterType="string">
		DELETE FROM c_cwechat_access WHERE id='#{id}'
	</delete>
	<update id="update" parameterType="CwechatAccess">
		UPDATE c_cwechat_access SET appid=#{appid},secret=#{secret},encodingAESKey=#{encodingAESKey},accessDate=#{accessDate},isTrue=#{isTrue},userId=#{userId} WHERE id='${id}'
	</update>
	<select id="findById" parameterType="string" resultMap="baseResultMap">
		SELECT * FROM c_cwechat_access WHERE id='#{id}'
	</select>
	<select id="findAll" resultMap="baseResultMap">
		SELECT * FROM c_cwechat_access
	</select>
	<select id="findAllByUserId" resultMap="baseResultMap" parameterType="string">
		SELECT * FROM c_cwechat_access WHERE userId=#{userId}
	</select>
	<select id="findByAppId" resultMap="baseResultMap" parameterType="string">
		SELECT * FROM c_cwechat_access WHERE appid=#{appid}
	</select>
	
</mapper>