<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cynara.cwechat.entitiy.mapper.ReceiveWechatMessageMapper">
	<cache />
	<resultMap type="ReceiveWechatMessage" id="baseResultMap">
		<id property="id" column="id" />
		<result property="msgType" column="msgType" />
		<result property="toUserName" column="toUserName" />
		<result property="fromUserName" column="fromUserName" />
		<result property="createTime" column="createTime" />
		<result property="context" column="context" />
		<result property="picUrl" column="picUrl" />
		<result property="mediaId" column="mediaId" />
		<result property="thumbMediaId" column="thumbMediaId" />
		<result property="format" column="format" />
		<result property="recognition" column="recognition" />
		<result property="location_X" column="location_X" />
		<result property="location_Y" column="location_Y" />
		<result property="scale" column="scale" />
		<result property="label" column="label" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="url" column="url" />
		<result property="msgId" column="msgId" />
		<result property="userId" column="userId" />
	</resultMap>
	<insert id="insert" parameterType="ReceiveWechatMessage">
		INSERT INTO c_receive_wechat_message(id,msgType,toUserName,fromUserName,createTime,context,picUrl,mediaId,thumbMediaId,format,recognition,location_X,location_Y,scale,label,title,description,url,msgId,userId)	VALUES (#{id},#{msgType},#{toUserName},#{fromUserName},#{createTime},#{context},#{picUrl},#{mediaId},#{thumbMediaId},#{format},#{recognition},#{location_X},#{location_Y},#{scale},#{label},#{title},#{description},#{url},#{msgId},#{userId})
	</insert>
	<delete id="delete" parameterType="string">
		DELETE FROM
		c_receive_wechat_message WHERE id=#{id}
	</delete>
	<update id="update" parameterType="ReceiveWechatMessage">
		UPDATE
		c_receive_wechat_message SET
		msgType=#{msgType},toUserName=#{toUserName},fromUserName=#{fromUserName},createTime=#{createTime},context=#{context},picUrl=#{picUrl},mediaId=#{mediaId},thumbMediaId=#{thumbMediaId},
		format=#{format},recognition=#{recognition},location_X=#{location_X},location_Y=#{location_Y},scale=#{scale},label=#{label},title=#{title},
		description=#{description},url=#{url},msgId=#{msgId},userId=#{userId}
		WHERE id='${id}'
	</update>
	<select id="findById" parameterType="string" resultMap="baseResultMap">
		SELECT * FROM c_receive_wechat_message WHERE id=#{id}
	</select>
	<select id="findAll" resultMap="baseResultMap">
		SELECT * FROM
		c_receive_wechat_message
	</select>
	<select id="findAllByToUserName" resultMap="baseResultMap" parameterType="string">
		SELECT * FROM
		c_receive_wechat_message WHERE toUserName=#{toUserName}
	</select>

</mapper>